.sticking {
    font-size: 1.8rem;
    display: flex;
    margin-bottom: 1em;

    &--sc-sbc {
        .measure1 {
            display: grid;
            grid-template-columns: [ts-start] 6.5rem [ts-end m1n1-start] 3rem [m1n1-end m1n2-start] 3rem [m1n2-end m1n3-start] 3rem [m1n3-end m1n4-start] 3.75rem [m1n4-end m1n5-start] 3rem [m1n5-end m1n6-start] 3rem [m1n6-end m1n7-start] 3rem [m1n7-end m1n8-start] 3rem [m1-end];

            @for $i from 1 through 8 {
                .m1n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                    ;
                }
            }
        }

        .measure2 {
            display: grid;
            grid-template-columns: [m2-gutter-start] 1.5rem [m2-gutter-end m2n1-start] 3rem [m2n1-end m2n2-start] 3rem [m2n2-end m2n3-start] 3rem [m2n3-end m2n4-start] 3.3rem [m2n4-end m2n5-start] 3rem [m2n5-end m2n6-start] 3rem [m2n6-end m2n7-start] 2.5rem [m2n7-end m2n8-start] 3rem [m2-end];

            @for $i from 1 through 8 {
                .m2n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                    ;
                }
            }
        }
    }

    &--sc-flams {
        .measure1 {
            display: grid;
            grid-template-columns: [ts-start]9.6rem[ts-end m1n1-start] 4.8rem [m1n1-end m1n2-start] 3.3rem [m1n2-end m1n3-start] 6rem [m1n3-end m1n4-start] 4.8rem [m1n4-end m1n5-start] 3.3rem [m1n5-end m1n6-start] 3.25rem [m1n6-end m1-end];


            @for $i from 1 through 6 {
                .m1n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }

            }
        }


        .measure2 {
            display: grid;
            grid-template-columns: [m2-gutter-start] 4rem [m2-gutter-end m2n1-start] 4.5rem [m2n1-end m2n2-start] 3rem [m2n2-end m2n3-start] 5.8rem [m2n3-end m2n4-start] 4.4rem [m2n4-end m2n5-start] 3.1rem [m2n5-end m2n6-start] 3.25rem [m2-end];

            @for $i from 1 through 6 {
                .m2n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }

            }
        }
    }

    &--sc-flams-mix {

        .measure1 {
            display: grid;
            grid-template-columns: [ts-start] 9.6rem [ts-end m1n1-start] 5rem [m1n1-end m1n2-start] 3.25rem [m1n2-end m1n3-start] 6rem [m1n3-end m1n4-start] 5rem [m1n4-end m1n5-start] 3.25rem [m1n5-end m1n6-start] 3.25rem [m1-end];

            @for $i from 1 through 6 {
                .m1n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }

        .measure2 {
            display: grid;
            grid-template-columns: [m2-gutter-start]4rem[m2-gutter-end m2n1-start] 3.5rem [m2n1-end m2n2-start] 3.3rem[m2n2-end m2n3-start] 3.4rem [m2n3-end m2n4-start] 5.5rem [m2n4-end m2n5-start] 3.5rem [m2n5-end m2n6-start] 3.25rem [m2n6-end m2n7-start] 3.25rem [m2n7-end m2n8-start] 3.4rem [m2-end];

            @for $i from 1 through 8 {
                .m2n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }
    }

    &--sc-flams-mix-taps {

        .measure1 {
            display: grid;
            grid-template-columns: [ts-start] 9.6rem [ts-end m1n1-start] 5rem [m1n1-end m1n2-start] 3.25rem [m1n2-end m1n3-start] 6rem [m1n3-end m1n4-start] 5rem [m1n4-end m1n5-start] 3.25rem [m1n5-end m1n6-start] 3.25rem [m1-end];

            @for $i from 1 through 6 {
                .m1n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }

        .measure2 {
            display: grid;
            grid-template-columns: [m2-gutter-start]3.5rem[m2-gutter-end m2n1-start] 3.5rem [m2n1-end m2n2-start] 6rem[m2n2-end m2n3-start] 3.5rem [m2n3-end m2n4-start] 6rem [m2n4-end m2n5-start] 3.5rem [m2n5-end m2n6-start] 5.75rem [m2n6-end m2n7-start] 3.5rem [m2n7-end m2n8-start] 3.4rem [m2-end];

            @for $i from 1 through 8 {
                .m2n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }
    }

    &--sc-flams-16s {

        .measure1 {
            display: grid;
            grid-template-columns: [ts-start]9.6rem[ts-end m1n1-start] 4rem [m1n1-end m1n2-start] 3.3rem[m1n2-end m1n3-start] 3.4rem [m1n3-end m1n4-start] 6rem [m1n4-end m1n5-start] 3.5rem [m1n5-end m1n6-start] 3.5rem [m1n6-end m1n7-start] 3.5rem [m1n7-end m1n8-start] 3.4rem [m1-end];

            @for $i from 1 through 8 {
                .m1n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }

        .measure2 {
            display: grid;
            grid-template-columns: [m2-gutter-start]4.5rem[m2-gutter-end m2n1-start] 3.5rem [m2n1-end m2n2-start] 3.3rem[m2n2-end m2n3-start] 3.4rem [m2n3-end m2n4-start] 5.5rem [m2n4-end m2n5-start] 3.5rem [m2n5-end m2n6-start] 3.25rem [m2n6-end m2n7-start] 3.25rem [m2n7-end m2n8-start] 3.4rem [m2-end];

            @for $i from 1 through 8 {
                .m2n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }
    }

    &--sc-flams-taps-16s {

        .measure1 {
            display: grid;
            grid-template-columns: [ts-start]9.6rem[ts-end m1n1-start] 3.5rem [m1n1-end m1n2-start] 6.5rem[m1n2-end m1n3-start] 3.5rem [m1n3-end m1n4-start] 6.25rem [m1n4-end m1n5-start] 3.5rem [m1n5-end m1n6-start] 6.5rem [m1n6-end m1n7-start] 3.5rem [m1n7-end m1n8-start] 3.4rem [m1-end];

            @for $i from 1 through 8 {
                .m1n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }

        }

        .measure2 {
            display: grid;
            grid-template-columns: [m2-gutter-start]4.5rem[m2-gutter-end m2n1-start] 3.5rem [m2n1-end m2n2-start] 6rem[m2n2-end m2n3-start] 3.5rem [m2n3-end m2n4-start] 6rem [m2n4-end m2n5-start] 3.5rem [m2n5-end m2n6-start] 5.75rem [m2n6-end m2n7-start] 3.5rem [m2n7-end m2n8-start] 3.4rem [m2-end];

            @for $i from 1 through 8 {
                .m2n#{$i} {
                    grid-column: #{$i+1} / #{$i+2};
                }
            }
        }
    }
}

.letter {
    display: inline-block;
}

.left-flam {
    width: 4rem;
    height: 4rem;

    margin-left: -.5em;
    margin-bottom: -1.35em;
}