.exercise-container {
    display: grid;
    grid-template-rows: 15rem 40rem;
    gap: 2em;
}

.exercise {
    display: flex;
    justify-content: center;
    align-items: center;

    &__number {
        font-size: 2rem;
        margin-right: 1em;
    }
}

.exercise-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}