*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

body {
    font-family: sans-serif;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}